/GoldTopicsJava
/manifest.mf
/aan_current_release.tar.gz
/nb-configuration.xml
/pollas
/GoldTopicsProgramming
/GoldTopicsAstronomy
/LiTe-1.0-SNAPSHOT-jar-with-dependencies.jar
/hs_err_pid11681.log
/astronomyDocumentJSON
/kpminer
/a
/b
/astronomyLiOn
/GoldTopicsBiology
/astronomyChapter1
/astronomyChapter2
/resultsWikifier
/textAstronomy_4
/resultstextAstronomy.json
/textAstronomy_5
/textEnglish
/text
/textSpanish
/textProgramming
/texBio
/resultsWikifierBio
/textAstronomy_2
/textAstronomy_3
/textRake
/textAstronomy_1
/textProgramming_1_1
/words
/textProgramming_3
/src.zip
/resultsACLCValue.zip
/textProgramming_2
/results:textAstronomy
/textProgramming_1
/tmp/
/testCorpus/
/spanishCorpus/
/results/
/resultsDisam/
/resultsWikifierOnlyAstronomy/
/cache/
/src/test/java/edu/ehu/galan/lite/algorithms/
/src/test/java/edu/ehu/galan/lite/junit/
/src/test/java/edu/ehu/galan/lite/WikifierResults.java
/src/test/java/edu/ehu/galan/lite/WikifierTest2.java
/src/test/java/edu/ehu/galan/lite/WikipediaIterator.java
/src/test/java/edu/ehu/galan/lite/ACLAnthology.java
/src/test/java/edu/ehu/galan/lite/GoldTopicsOnly.java
/src/test/java/edu/ehu/galan/lite/SpanishTest.java
/src/test/java/edu/ehu/galan/lite/WikiTerm.java
/src/test/java/edu/ehu/galan/lite/pruebas.java
/src/test/java/edu/ehu/galan/lite/EvalSingleAlgorithm.java